{% extends 'base.html' %}

{% load static %}

{% block contenido_cambio %}
    <h2 class="mx-auto my-5 p-3">Sobre mí</h2>

    <img src="/../static/assets/img/Foto_mia.jpg" width="288" height="384px"  alt="Foto">

    <h5 class="my-5">
        Cristian Ramonda
    </h5>

    <div class="my-2 text-center">
        <p>
            Proactivo, detallista, curioso, siempre con ganas de mejorar. Adaptable a los cambios, con gran facilidad para <br> 
            relacionarme y comunicarme con otras personas, y desempeñar tareas en equipo. Cordial en el trato. <br>
            Con muchas ganas de aprender. <br>
            <br>        
            Actualmente trabajando en Rojosoft SRL. Con conocimientos en SQL, ¡y ahora Python! <br>
            <br>
            Siendo profesor de educación física, habiendomé especializdo en entrenamiento, di un volantazo <br>
            en mi vida tras la pandemia, y me pasé al maravilloso mundo de la programación, que era mi otra pasión. <br>
            <br>
            Tratando ahora de serle digno, intento ampliar mis conocimientos para poder dedicarme de lleno a esto que tanto me apasiona.
        </p>
    </div>
    
            
{% endblock contenido_cambio %}
    