{% extends 'base.html' %}

{% load static %}

{% block contenido_cambio %}
    <h2 class="mx-auto my-5 p-3">Busqueda de Clientes</h2>
    
    <form class="d-inline" action="{% url 'ClienteBuscado' %}" method="GET"> {% csrf_token %}

        <p>Nombre: <input type="text" name = 'nombre' id='nombre'> </p>
        
        <button class="btn btn-light ms-auto my-3" type="submit">Buscar</button>
   
    </form>

    
    <a href="{% url 'ListaClientes' %}">
        <button class="btn btn-light ms-auto">Atrás</button>
    </a>
    
    

    {% comment %} {% for cliente in lista_clientes  %}
        <li>
            {{cliente.nombre}}
        </li>
    {% endfor %} {% endcomment %}

{% endblock contenido_cambio %}
    