{% extends 'base.html' %}

{% load static %}

{% block contenido_cambio %}

    
    <p>{{mensaje}}</p> 
   
    {% if cliente %}

    <h2 class="mx-auto my-5 p-3">Los datos del cliente que buscaste: </h2>
        <p><b>Nombre: </b>{{ cliente.nombre }}</p>   
        <p><b>Documento: </b> {{ cliente.documento }}</p>   
        <p><b>Email: </b> {{ cliente.email }}</p>
    
    {% else %}

        <p>No hay clientes con ese nombre</p>  

    {% endif %}


    <a  href="{% url 'BuscaCliente' %}">
        <button class="btn btn-light ms-auto my-3" >Atrás</button>
    </a>
    
       
   
    
{% endblock contenido_cambio %}
     