{% extends 'base.html' %}

{% load static %}

{% block contenido_cambio %}
    <h2 class="mx-auto my-5 p-3">Detalle de la habitación</h2>
    <div>
        <p>Numero: {{ numero_habitacion.numero }} </p>
        <p>Tipo: {{ numero_habitacion.tipo }} </p>
        <p>Disponible: 
        
        
        {% if numero_habitacion.disponible %}
            Sí
        {% else %}
            No
        {% endif %}
            
        </p>
    </div>
       

    
    <a href= {% url 'ListaHabitacion' %}>
        <button class="btn btn-light ms-auto">Atrás</button>
    </a>
    
        
{% endblock contenido_cambio %}
    