{% extends 'base.html' %}

{% load static %}

{% block contenido_cambio %}
    <h2>Lista de Habitaciones</h2>

    <button>
    <a href=" {% url 'CrearHabitacion' %} ">Crear Nueva</a>
    </button>

    {% for habitacion in habitaciones  %}
        <li>
            <a href="{% url 'DetalleHabitacion' habitacion.id %}">Habitación {{ habitacion.numero }} </a>
        </li>
        <div>
            
            <button  type="submit"> 
                <a href="{% url 'EliminarHabitacion' habitacion.id %}" method='POST'> Eliminar </a> 
            </button>{% csrf_token %}

            <button>
                <a href="{% url 'EditarHabitacion' habitacion.id %}"> Editar </a>
            </button>

        </div> 

    {% endfor %} 

{% endblock contenido_cambio %}
    