{% extends 'base.html' %}

{% load static %}

{% block contenido_cambio %}
    <h2 class="mx-auto my-5 p-3">Reservas</h2>

    <h6>
        Aquí podrás crear nuevas reservas o buscar una que tengas cargada
    </h6>

    <h5>
       {{ mensaje }} 
    </h5>
    
    <a class="text-decoration-none outline-none" href="{% url 'RegistroReservas' %}">
        <button class="btn btn-light my-3">Registrar Nueva</button>
    </a>

    <a href="{% url 'BuscarReservas' %}">
        <button class="btn btn-light">Buscar</button>
    </a>    

            
{% endblock contenido_cambio %}
    