{% extends 'base.html' %}

{% load static %}

{% block contenido_cambio %}
    <h2 class="mx-auto my-5 p-3">Lista de Clientes</h2>

    <h5 class="my-5">
        {{ mensaje }}

        {{ edicion_exitosa }}
        {{ edicion_fallida }}
    </h5>

    <div>
        <a style="text-decoration: none; outline: none;" href="{% url 'RegistroClientes'  %}">
            <button class="btn btn-light">Registrar Cliente</button>
        </a> 
        
        <a href="{% url 'BuscaCliente'  %}">
            <button class="btn btn-light">Buscar Cliente</button>
        </a> 
    </div>
    <br>
        <div class="container text-center">
            <div class="card-group mt-5">
                {% for cliente in lista_clientes  %}
                    
                        <div class="card mx-3">
                            

                                
                                <div class="card-body ">

                                    <h4 class="mt-4 card-title">
                                        {{cliente.nombre}}
                                    </h4>
                                    
                                    <form action= "{% url 'EliminaCliente' cliente.id %}" method='POST'>{% csrf_token %}
                                    
                                        <div class="d-flex justify-content-center">
                                            <a class="" href="{% url 'EditarClientes' cliente.id %}">
                                                <button type="button" class="btn btn-light">Editar</button>
                                            </a>
    
                                            <button class="btn btn-light"  type="submit"> 
                                                Eliminar 
                                            </button>
                                        </div>
                                    </form>
                                    
                                    
                                </div>
                            
                        </div>
                    
                {% endfor %} 
            </div>
        </div>
        
{% endblock contenido_cambio %}
    