{% extends 'base.html' %}

{% load static %}

{% block contenido_cambio %}
 
    
    {% if mensaje1 %}
        <h2 class="mx-auto my-5 p-3"> {{ mensaje1 }} </h2>
    
        <div class="my-3">
            <a href="{% url 'Login' %}">
                <button type="button" class="btn btn-light">Iniciar Sesión</button>
            </a>
        </div>

    {% else %}
        <h2 class="mx-auto my-5 p-3"> Crear Nuevo Usuario </h2>

        <h4 class="mx-auto my-3"> {{ mensaje2 }} </h4>

        <form class="mx-auto" style="width: 20%;" action="" method="POST"> {% csrf_token %}


            <div class="form-group mb-2">
                {{ miFormulario.username.label_tag }}
                {{ miFormulario.username }}
            </div>
            <div class="form-group mb-2">
                {{ miFormulario.password1.label_tag }}
                {{ miFormulario.password1 }}
            </div>
            <div class="form-group mb-1">
                {{ miFormulario.password2.label_tag }}
                {{ miFormulario.password2 }}
            </div>
            <!-- {{ miFormulario.as_p }} -->

            <button class="btn btn-light my-3" type="submit">Crear Usuario</button>

            <a href="{% url 'Login' %}">
                <button type="button" class="btn btn-light">Atrás</button>
            </a>

        </form>
    {% endif %}
        

    
    
{% endblock contenido_cambio %}
    