{% extends 'base.html' %}

{% load static %}

{% block contenido_cambio %}
    <h2 class="mx-auto my-5 p-3">Registro de clientes</h2>

    <h4 class="my-5">
        {{ registro_exitoso }}
        {{ registro_fallido }}
    </h4>

    <form class="mx-auto" style="width: 20%;" action="{% url 'RegistroClientes' %}" method="POST"> {% csrf_token %}

        {{ miFormulario.as_p }}
        
        
        {% if registro_exitoso %}

        {% else %}
            <button class="btn btn-light my-3" type="submit">Enviar</button>
        {% endif %}     

        <a href="{% url 'ListaClientes' %}">
            <button type="button" class="btn btn-light">Atrás</button>
        </a>

    </form>



    
{% endblock contenido_cambio %}
    