{% extends 'base.html' %}

{% load static %}

{% block contenido_cambio %}
    <h2>Registro de clientes</h2>

    <h4>
        {{ registro_exitoso }}
        {{ registro_fallido }}
    </h4>

    <form class="d-inline" action="{% url 'RegistroClientes' %}" method="POST"> {% csrf_token %}

        {{ miFormulario.as_p }}
        
        
        {% if registro_exitoso %}

        {% else %}
            <button class="bg-dark text-white" type="submit">Enviar</button>
        {% endif %}     

    </form>

    <a href="{% url 'ListaClientes' %}">
        <button  class="bg-dark text-white">Atrás</button>
    </a>

    
{% endblock contenido_cambio %}
    